<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مائدة بلادي - Simplifiez vos réservations de restaurants</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Lien vers le fichier CSS -->
</head>
<body dir="rtl">
    <header>
		<h2 style="color: white; font-size: 50px;">مائدة بلادي</h2>
        <p>إحجز الأن</p>
		<div>
			<a href="{% url 'login' %}"><button class="reversed-btn">تسجيل الدخول</button></a>
			<a href="{% url 'signup' %}"><button class="reversed-btn">إنشاء حساب</button></a>
		</div>
    </header>

    <main>
        <section id="description">
            <h2>الوصف</h2>
            <p>
				مائدة بلادي هو حلك الأمثل لحجز طاولة في مطاعمك المفضلة بضع نقرات فقط. مصمم لتقديم تجربة مستخدم استثنائية، مائدة بلادي يتيح لك اكتشاف، اختيار، وحجز المطاعم بسهولة وسرعة.
            </p>
        </section>

        <section id="features">
            <h2>الخصائص الرئيسية</h2>
            <ul>
                <li>
                    <strong>بحث بديهي:</strong>
                    <p>ابحث عن المطاعم بالاسم، نوع المطبخ، الموقع، أو حتى بالأطباق المحددة. استخدم الفلاتر المتقدمة لتضييق نطاق البحث وفقًا لتفضيلاتك الغذائية، خيارات الأسعار، تقييمات المستخدمين، وأكثر من ذلك.</p>
                </li>
                <li>
                    <strong>ملفات تعريف المطاعم المفصلة:</strong>
                    <p>اطلع على ملفات تعريف كاملة لكل مطعم، بما في ذلك الصور، القوائم، ساعات العمل، العناوين، ومراجعات المستخدمين الآخرين. احصل على معلومات حول الخدمات المقدمة، مثل خيارات التوصيل، الأطباق النباتية، التسهيلات لذوي الاحتياجات الخاصة، وغيرها.</p>
                </li>
                <li>
                    <strong>الحجوزات في الوقت الفعلي:</strong>
                    <p>احجز طاولتك في الوقت الفعلي، باختيار الوقت وعدد الأشخاص مباشرة على الموقع. تلقي تأكيدات فورية وتذكيرات تلقائية عبر البريد الإلكتروني أو الرسائل النصية.</p>
                </li>
                <li>
                    <strong>إدارة الحجوزات:</strong>
                    <p>استعرض، عدل أو ألغِ حجوزاتك بسهولة من حسابك المستخدم. احتفظ بسجل لجميع حجوزاتك لإدارة مبسطة.</p>
                </li>
                <li>
                    <strong>عروض خاصة وبرامج الولاء:</strong>
                    <p>احصل على عروض خاصة حصرية وخصومات في مطاعمك المفضلة. شارك في برامج الولاء لتجميع النقاط والحصول على مكافآت.</p>
                </li>
                <li>
                    <strong>المراجعات والتقييمات:</strong>
                    <p>اقرأ المراجعات الأصلية من المستخدمين الآخرين لمساعدتك في اتخاذ قرارك. اترك مراجعاتك وتقييماتك الخاصة لمساعدة مجتمع مائدة بلادي.</p>
                </li>
                <li>
                    <strong>الأمان والخصوصية:</strong>
                    <p>معلوماتك الشخصية محمية بفضل تدابير أمان متقدمة. مائدة بلادي يحترم خصوصيتك ولا يشارك بياناتك دون موافقتك.</p>
                </li>
            </ul>
        </section>

        <section id="why-choose-us">
            <h2>لماذا تختار مائدة بلادي؟</h2>
            <ul>
                <li>سهولة الاستخدام: واجهة بسيطة وسهلة الاستخدام لحجوزات بدون متاعب.</li>
                <li>تشكيلة واسعة: الوصول إلى مجموعة واسعة من المطاعم لتناسب جميع الأذواق والميزانيات.</li>
                <li>دعم العملاء: فريق دعم مخصص لمساعدتك على مدار الساعة.</li>
            </ul>
            <p>انضم إلى مجتمع مائدة بلادي اليوم وقم بتحويل طريقة حجز مطاعمك المفضلة!</p>
        </section>

        <section id="contact">
            <h2>اتصل بنا</h2>
            <p>تابعنا على وسائل التواصل الاجتماعي:</p>
            <ul>
                <li>Facebook: <a href="https://www.facebook.com/ReservEAT">@ReservEAT</a></li>
                <li>Instagram: <a href="https://www.instagram.com/ReservEAT">@ReservEAT</a></li>
                <li>Twitter: <a href="https://www.twitter.com/ReservEAT">@ReservEAT</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy;  مائدة بلادي -احجز، تذوق، استمتع!</p>
    </footer>
</body>
</html>
