<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مائدة بلادي - تسجيل الدخول</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <header>
        <h1>مائدة بلادي</h1>
		<br>
        <p>تسجيل الدخول</p>
    </header>
	{% for message in messages %}
		{% if message.tags  == "error" %}
			<article class="message is-danger">
				<p class="message-body">
					{{ message }}
				</p>
			</article>
		{% elif message.tags == "success" %}
			<article class="message is-success">
				<p class="message-body">
					{{ message }}
				</p>
			</article>
		{% elif message.tags == "info" %}
			<article class="message is-info">
				<p class="message-body">
					{{ message }}
				</p>
			</article>
		{% endif %}
	{% endfor %}
    <main>
        <section id="login">
            <h2>تسجيل الدخول</h2>
            <form action="{% url 'login' %}" method="post">
				{% csrf_token %}
                <div>
                    <label for="username">إسم المستخدم</label>
					<input type="text" id="username" name="username" required>
				</div>
                <div>
                    <label for="password">كلمة السر</label>
                    <input type="password" id="password" name="password" required>
				</div>
                <button id="login-btn" type="submit">تسجيل الدخول</button>
            </form>
            <p>لا تملك حساب ? <a href="{% url 'signup' %}">إنشاء حساب</a></p>
        </section>
    </main>
</body>
</html>
