@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');


@font-face {
	font-family: 'Neo Sans Arabic', sans-serif;
	src: url('https://fonts.cdnfonts.com/css/neo-sans-arabic');
}
                                                
body {
    /* font-family: Arial, sans-serif; */
	font-family: 'Neo Sans Arabic', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #900C3F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
	height: 20%;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
	font-family: 'Neo Sans Arabic', sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form select {
	font-family: 'Neo Sans Arabic', sans-serif;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
	font-family: 'Neo Sans Arabic', sans-serif;
    background: #900C3F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #fff;
	color: #900C3F;
	border: 1px solid #900C3F;
}

.reversed-btn {
    background: #fff;
	color: #900C3F;
	border: 1px solid #900C3F;

}

.reversed-btn:hover {
    background: #900C3F;
	color: #fff;
	border: 1px solid #fff;
}

.green-btn {
	background: #4FFFB0;
	color: #fff;
	border: 1px solid #fff;
}

.green-btn:hover {
	background: #fff;
	color: #4FFFB0;
	border: 1px solid #4FFFB0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #900C3F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#hero {
    text-align: center;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

#restaurants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#plates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#reservations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reserve {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 20%;
}

.reserve img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.restaurant {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.comment {
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
}

textarea {
	height: 50%; /* Adjust the height as needed */
	width: 100%;
	resize: vertical; /* Allow vertical resizing */
	font-size: 22px; /* Custom font size */
	line-height: 1.4; /* Line height for readability */
	padding: 10%; /* Padding inside the textarea */
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.restaurant h3 {
    margin: 10px 0;
}

.restaurant p {
    margin: 5px 0;
}

/* Style for slideshow controls */
.slideshow-container {
  position: relative;
  max-width: 1000px; /* Adjust as per your design */
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* Style for dot indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.header-white {
	color: white;
	font-size: 50px;
}


.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
	gap: 10px;
	padding: 20px;
}

.gallery img {
	width: 80%;
	height: auto;
	display: block;
	border-radius: 8px;
}

.map {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.map:hover {
  transform: scale(1.5); 
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}



.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.flex-end {
	display: flex;
	align-items: flex-end;
}

.center {
	display: flex;
	justify-content: center;
}

.flex-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.badge {
	background: #900C3F;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border-radius: 2px;
	
}



.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: right;
}
.star {
    display: inline-block;
    font-size: 30px;
    color: gold;
    cursor: pointer;
    transition: color 0.2s;
}

